html {
  /* background: linear-gradient(148deg, rgba(159, 255, 151, 1) 0%, rgba(143, 193, 199, 1) 100%); */
  height: max-content;
}

main {
  display: grid;
  grid-template-columns: 280px auto 180px;
  grid-template-rows: 80px auto;
  gap: 20px;
}
