@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.2s ease-in-out all;
  margin-left: 0;
  padding: 3px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px;
}

@media screen and (max-width: 768px) {
  .tracklist-wrapper tbody td:nth-child(4),
  .tracklist-wrapper thead th:nth-child(4) {
    display: none;
  }
}
